{% extends 'base.html' %}


{% block title %}about{% endblock title %}

{% block body %}


<div class="container-fluid p-5 " style="	background-color: rgb(226 232 240);">
  <div class="container d-flex">

    <!-- about page content  -->
    <div class="col-xl-6 col-sm-12">
      <h1 class="display-4 fst-italic" name='name'>Empowering Muslim Students with Authentic Islamic Knowledge</h1>
      <p class="lead my-3" name='content'>Welcome to [Academy Name], the leading online Quran academy providing
        comprehensive Islamic education to students around the world. Our mission is to empower Muslim students with
        authentic Islamic knowledge and help them establish a strong connection with the Quran.</p>
      <p class="lead my-3" name='content'>We believe that the Quran holds the key to a better life, and it's our goal to
        make its teachings accessible to as many people as possible. That's why we've created a platform where students
        can learn the Quran online, from the comfort of their own homes. With our dedicated team of qualified teachers
        and state-of-the-art technology, we're able to offer a unique and interactive learning experience that's not
        available anywhere else.</p>
      <p class="lead my-3" name='content'>Our courses are designed to cater to the needs of students of all ages,
        backgrounds, and levels of Quranic knowledge. Whether you're a beginner or an advanced learner, we've got you
        covered. We offer a wide range of classes, from Quranic reading and memorization to Islamic studies and tafsir
        (interpretation). Our flexible scheduling allows students to study at their own pace, making it easy to fit
        Quranic studies into their busy lives.</p>
      <p class="lead my-3" name='content'>We believe that the key to effective learning is personalized attention, and
        that's exactly what our students receive. Our teachers are highly qualified and experienced, and they work
        one-on-one with each student to help them reach their Quranic goals.</p>
      <p class="lead my-3" name='content'>Join [Academy Name] today and start your journey to a better understanding of
        the Quran and Islam. We're confident that you'll find our online Quran academy to be a truly transformative
        experience.</p>
    </div>

    <!-- about page images  -->
    <div class="col-xl-6 d-xs-none pl-3">
      <video class="w-100" autoplay loop muted>
        <source
          src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/EeN01lAOxijss6byx/videoblocks-627ae588ce1c2c3087f06b0d_s7dtbttu5__8dc776387026a4d908c0aae42e22924f__P360.mp4"
          type="video/mp4" />
      </video>
    </div>
  </div>
</div>

{% endblock body %}