{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block body %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active item">
      <img
        src="/static/img/Quran.webp"
        class="d-block w-100" alt="..." style="height: 80vh;">
      
    </div>

    <div class="carousel-item item">
      <img
        src="/static/img/96ad68cc9c03d12fcfde2b6e430b706f--quran-allah.jpg"
        class="d-block w-100 " alt="..." style="height: 80vh;">
     
    </div>

    <div class="carousel-item item">
      <img
        src="/static/img/Read-Quran.jpeg"
        class="d-block w-100" alt="..." style="height: 80vh;">
     
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Services in teacher -->
<div class="container-fluid">
  <div class="container p-5">
    <div class="row">
      

<!-- Services in teacher card 1-->
      <div class="col-sm-4 shadow-lg p-2 rounded">
        <div class="card shadow border-2 rounded-2 border-success">
          <div class="card-body " style="background-image: linear-gradient(to right, #8b5cf6, #5ccaf6, #d946ef)"">
              <img class=" w-25 text-center mx-auto rounded-circle pb-2 d-block"
            src="https://www.iconbunny.com/icons/media/catalog/product/9/7/97.10-team-icon-iconbunny.jpg" alt="">
            <h5 class="card-title text-center list-unstyled">Professional Teachers</h5>
            <p class="card-text text-center load">At [Academy Name], we understand that a great teacher can make all the difference in a student's learning journey. That's why we're proud to have a team of highly qualified, experienced, and dedicated professional teachers who are passionate about Quranic education.
            </p>
          </div>
        </div>
      </div>
      <!-- Services in teacher card 1 end-->


      <!-- Services in teacher card 2-->
      <div class="col-sm-4 shadow-lg p-2 rounded" >
        <div class="card shadow border-2 rounded-2 border-success" style="height: 320px;">
          <div class="card-body " style="background-image: linear-gradient(to right, #8b5cf6, #5ccaf6, #d946ef)">
            <img class="w-25 text-center mx-auto rounded-circle pb-2 d-block"
              src="https://w7.pngwing.com/pngs/335/671/png-transparent-computer-icons-skype-symbol-skype-blue-text-telephone-call-thumbnail.png"
              alt="">
            <h5 class="card-title text-center list-unstyled">Online Classes</h5>
            <p class="card-text text-center load">Welcome to [Academy Name], where you can start your Quranic learning journey from the comfort of your own home! Our online Quran classes are designed to provide students with a convenient and effective way to learn Quranic studies.
            </p>
          </div>
        </div>
      </div>
      <!-- Services in teacher card 2 end-->


<!-- Services in teacher card 3-->
      <div class="col-sm-4 shadow-lg p-2 rounded">
        <div class="card shadow-lg border-2 rounded-2 border-success" style="height: 320px;">
          <div class="ceff card-body"
            style="background-image: linear-gradient(to right, #8b5cf6,#5ccaf6, #d946ef);            ">
            <img class="w-25 text-center mx-auto rounded-circle pb-2 d-block"
              src="https://i.pinimg.com/564x/8a/15/0c/8a150c85b2960d8e2375b0f3aea7e2f0.jpg" alt="">
            <h5 class="card-title text-center blockquote list-unstyled">Female Teachers</h5>
            <p class="card-text text-center load">Start your Quranic learning journey today with a female teacher who understands your needs and will support you every step of the way. Join [Academy Name] and start learning from the comfort of your own home.
            </p>
          </div>
        </div>
      </div>
<!-- Services in teacher card 3 end-->

    </div>
  </div>
</div>
<!-- Services in teacher End-->



<!-- ABOUT US -->
<div class="container-fluid p-5 " style="	background-color: rgb(226 232 240);">
  <div class="container d-flex">

    <!-- about page content  -->
    <div class="col-xl-6 col-sm-12">
      <h1 class="display-4 fst-italic">Empowering Muslim Students with Authentic Islamic Knowledge</h1>
      <p class="lead my-3">Welcome to [Academy Name], the leading online Quran academy providing comprehensive Islamic education to students around the world. Our mission is to empower Muslim students with authentic Islamic knowledge and help them establish a strong connection with the Quran.</p>
      <a href="/about" class="fst-italic">Read Me...</a>
    </div>
    <!-- about page content end-->


    <!-- about page Video  -->
    <div class="col-xl-6 d-xs-none" style="padding-left: 1%;">
      <video class="w-100 " autoplay loop muted >
        <source src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/EeN01lAOxijss6byx/videoblocks-627ae588ce1c2c3087f06b0d_s7dtbttu5__8dc776387026a4d908c0aae42e22924f__P360.mp4" type="video/mp4" style="width: 600px; padding-left: 80px;" />
      </video>
    </div>
    <!-- about page Video end -->

  </div>
</div>


<!-- Services Card  -->
<div class="container-fluid pt-5">
  <div class="container p-2">


    <!-- Services Main text-->
    <div class="w-100">
      <h1 class="text-center">Quran For All Academy Services</h1>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, suscipit ex. Quo
        molestias libero natus, deserunt tempora minus necessitatibus sit delectus minima pariatur, neque saepe maiores
        culpa facere veniam vero!</p>
    </div>
    <!-- Services Main end-->


    
    <div class="row row-cols-1 row-cols-md-3 g-4 p-2">
      <!-- Services card 1-->
      <div class="col col-sm-4 shadow-lg p-5 rounded">
        <div class="card shadow-lg p-2 rounded" style="height: 450px;">
          <img class="w-75 text-center rounded-circle p-2  mx-auto d-block"
            src="https://i.pinimg.com/originals/05/a5/be/05a5be0c30b11b8dc23c9e32c7f60943.png" class="card-img-top"
            alt="...">

          <div class="card-body">
            <h5 class="card-title pt-4">ONLINE QURAN RECITATION</h5>
            <p class="card-text ">Start your Quranic recitation journey today and experience the peace and guidance that comes from reciting the Quran. Join [Academy Name] and start learning from the comfort of your own home.</p>
          </div>
        </div>
      </div>
      <!-- Services card 1 end-->


      <!-- Services card 2-->
      <div class="col col-sm-4 shadow-lg p-5 rounded" >
        <div class="card shadow-lg p-2 rounded" style="height: 450px;">
          <img class="w-50 text-center rounded-circle p-2  mx-auto d-block"
            src="https://m.media-amazon.com/images/I/6180-DfD+cL._SY498_BO1,204,203,200_.jpg" class="card-img-top"
            alt="...">
          <div class="card-body" >
            <h5 class="card-title">NOORANI QAIDA ONLINE</h5>
            <p class="card-text">The Noorani Qaida is the foundation of Quranic learning, providing students with a strong understanding of Quranic pronunciation and grammar. At [Academy Name], we're proud to offer Noorani Qaida classes online Quranic learning.</p>
          </div>
        </div>
      </div>
      <!-- Services card 2 end-->


      <!-- Services card 3-->
      <div class="col col-sm-4 shadow-lg p-5 rounded">
        <div class="card shadow-lg p-2 rounded" style="height: 450px;">
          <img class="w-50 text-center rounded-circle p-2  mx-auto d-block"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFphXTmiVZAE6BCXg3_is5ot7WzWagFr-5Yw&usqp=CAU"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ONLINE QURAN LEARNING</h5>
            <p class="card-text">"At [Academy Name], we believe that everyone should have access to Quranic education, regardless of where they live or their background. That's why we're proud to offer online Quran learning classes for students of all ages and levels of experience.</p>
          </div>
        </div>
      </div>
      <!-- Services card 3 end-->


      <!-- Services card 4-->
      <div class="col col-sm-4 shadow-lg p-5 rounded">
        <div class="card shadow-lg p-2 rounded" style="height: 450px;">
          <img class="w-50 text-center rounded-circle p-2  mx-auto d-block"
            src="https://image.pngaaa.com/789/5267789-middle.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title pt-4">QURAN TRANSLATION</h5>
            <p class="card-text">At [Academy Name], we understand the importance of understanding the Quran in its original language. That's why we're proud to offer Quran translation classes online, making it easy for students to deepen their understanding of the Quran.

            </p>
          </div>
        </div>
      </div>
      <!-- Services card 4 end-->

      <!-- Services card 5-->
      <div class="col col-sm-4 shadow-lg p-5 rounded">
        <div class="card shadow-lg p-2 rounded" style="height: 450px;">
          <img class="w-50 text-center rounded-circle p-2  mx-auto d-block"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4eAtfA-Q0Nb3l973dH1oRt5_UrYSf6LiqsfFv8tW5xPubSROV61O7jngPj5xtcNwe198&usqp=CAU"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title pt-4">QURAN WITH TAJWEED</h5>
            <p class="card-text">At [Academy Name], we understand the importance of Quranic recitation with proper pronunciation and rules of Tajweed. That's why we're proud to offer Quran with Tajweed classes online, making it easy for students to master the art of Quranic recitation.</p>
          </div>
        </div>
      </div>
      <!-- Services card 5 end-->


      <!-- Services card 6-->
      <div class="col col-sm-4 shadow-lg p-5 rounded">
        <div class="card shadow-lg p-2 rounded" style="height: 450px;">
          <img class="w-75 text-center rounded-circle p-2  mx-auto d-block"
            src="https://learnqurankids.com/wp-content/uploads/2021/04/online-quran-classes-skype.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-start">FEMALE QURAN TUTOR</h5>
            <p class="card-text text-start font-weight-normal">Start your Quranic learning journey today with a female Quran tutor who understands your needs and will support you every step of the way. Join [Academy Name] and start learning from the comfort of your own home.</p>
          </div>
        </div>
      </div>
      <!-- Services card 6 end-->

    </div>

  </div>
</div>
<!-- Services Card End -->



<!-- fee plan -->
<div class="container p-5 shadow-lg p-5 rounded">
  <div>
    <p class="h2 text-center mb-5 text-uppercase">online form registration</p>
  </div>
    
    <div class="col-lg-12 col-md-12 shadow p-5 rounded">
      <div class="card d-flex justify-content-center p-3"  style="background-color: #8b5cf6; color: white;">
        <div class="p-2 clo-md-8">
          To register, simply fill out the form below with your basic information, including your name, email, and phone number. You'll also be asked to specify the type of class you're interested in, such as Quranic recitation, Quran translation, or Quran with Tajweed.
        </div>
        <div class="mb-1 pt-3 col-lg-12">
          <a class="btn btn-primary col-12" href="/admission">get started</a> 
        </div>
      </div>
    </div>
    


</div>

<!-- fee plan End -->


{% endblock body %}

<!-- Button trigger modal -->
<!-- Button trigger modal -->


{% block js %}

{% endblock js %}